@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFBF7;
  --foreground: #3A352F;

  --color-cream: #F5EFE6;
  --color-lin: #E8E2D9;
  --color-lavande: #E6DFD3;
  --color-ciel: #F2ECE0;
  --color-babi: #BEA88B;
  --color-babi-dark: #A38C6D;
  --color-text: #3A352F;
  --color-muted: #8E8981;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-xl: 32px;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
